nk_smooch.json
[{"id":"e4e07b8e.d368a","type":"tab","label":"Smooch Flow"},{"id":"c398ccd4.e74858","type":"cloudant","z":"","host":"3d0413d4-849d-40ba-8bcc-cb8c639a7635-bluemix.cloudant.com","name":"Cloudant NoSQL DB-NK4"},{"id":"927d0072.c75c78","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"false","x":148,"y":117,"wires":[]},{"id":"587300b9.398778","type":"debug","z":"e4e07b8e.d368a","name":"Incoming","active":true,"tosidebar":true,"console":false,"complete":"true","x":381.2142105102539,"y":124.4444580078125,"wires":[]},{"id":"fc8f9a74.6aa908","type":"http in","z":"e4e07b8e.d368a","name":"Mobile HTTP in","url":"/smooch","method":"post","upload":false,"swaggerDoc":"","x":106.21427917480469,"y":267.00000286102295,"wires":[["8d71082a.1abc88","927d0072.c75c78"]]},{"id":"4005cb6f.2a930c","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"Base Conv","workspaceid":"755b62ba-ce44-4ecf-ad18-432be1be8c8c","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"","x":752.1588745117188,"y":456.4444580078125,"wires":[["cbe5d7cf.55fcc8","7fd1c1a6.158c28","4007575c.17ee08"]]},{"id":"8d71082a.1abc88","type":"function","z":"e4e07b8e.d368a","name":"Set Params","func":"\nmsg.save_payload = msg.payload;\nnode.error(\"Nak\");\nnode.error(msg);\n//var workspace_id = msg.req.query.workspace_id;\nmsg.fromUrl = msg.payload.appUser.devices[0].info.currentUrl;\nvar fname = msg.req.query.fname;\n\n//var user = msg.payload.appUser._id;\n//var input = msg.payload.messages[0].text;\n\nif (typeof(msg.actionPayload) !== \"undefined\"){\n   input = msg.actionPayload;  \n   user = msg.user;\n}else {\n   input = msg.payload.messages[0].text; \n   if (typeof msg.payload.appUser.userId !== \"undefined\") {\n     \n     user = msg.payload.appUser.userId;\n       \n   }\n   else { \n     user = msg.payload.appUser._id;  \n   }\n}\n\nvar test  = JSON.stringify(msg.payload);\nnode.log(test)\n\n//var globalContext = this.context().global;\n//global.set(\"m_node_path\",\"Reg\");\n//global.set(\"ask_name_next\",\"No\");\n\n//Zero out map Json \nvar map = JSON.parse(\"{}\");  \nvar button = JSON.parse(\"{}\");\n\n//if ((input.toUpperCase().substring(0,5) == \"HELLO\") && (input.length > 5)){\n        workspace_id = \"755b62ba-ce44-4ecf-ad18-432be1be8c8c\";\n        app = \"BankAssist\";\n//        msg.user = \"3461c175-52b5-4c38-b1be-e9f3d458a701\";\n/*\nswitch(input.toUpperCase()) {\n    case 'HELLO BANK ASSIST':\n        workspace_id = \"755b62ba-ce44-4ecf-ad18-432be1be8c8c\";\n        app = \"BankAssist\";\n        break;\n    case 'HELLO INSURE ASSIST':\n        workspace_id = \"17df222b-bf8c-41fc-8bec-da21317d993c\";\n        app = \"InsureAssist\";\n        break;\n    case 'HELLO INSURE CALL CENTER ASSIST':\n        workspace_id = \"d6598934-675d-4fe1-b2c9-9e0ebc4c1e69\";\n        app = \"InsureCCAssist\";\n        break;\n    case 'HELLO WEALTH ASSIST':\n        workspace_id = \"2fb924dd-27c4-4668-8ac3-be7add1065c1\";\n        app = \"WealthAssist\";\n        break;\n    case 'HELLO METLIFE ASSIST':\n        workspace_id = \"5fd7c1c7-9ea2-4fc8-b6fa-7920e10aad5a\";\n        app = \"MetLifeAssist\";\n        break;\n    case 'HELLO FIDELITY ASSIST':\n       // fidelity space  workspace_id = \"46975d17-120f-4757-8fe8-4a6649b3a257\";\n       // Fidelity space  app = \"FidelityAssist\";\n        workspace_id = \"1555159e-fa59-4d8d-bfba-b10a19144e22\";\n        app = \"WealthAssist\";\n        break;\n     case 'HELLO REGIONS ASSIST':\n        workspace_id = \"321e996d-efee-42a0-8aed-3dc93006a026\";\n        app = \"RegionsAssist\";\n        break;\n     case 'HELLO REGIONS UAT ASSIST':\n        workspace_id = \"de1089d8-46e6-4a7d-b5ed-03c5338b7b0a\";\n        app = \"RegionsUATAssist\";\n        break;\n     case 'HELLO LIBERTY MUTUAL ASSIST':\n        workspace_id = \"893ec9b6-bfc8-426a-8fd1-592a2e6ebaa8\";\n        app = \"LibertyMutualAssist\";\n        break;\n     case 'HELLO FANNIE MAE ASSIST':\n        workspace_id = \"0a7cb606-7488-4b3e-88ae-abcdaafb1c0a\";\n        app = \"FannieMaeAssist\";\n        break;   \n    default: \n        workspace_id = \"17df222b-bf8c-41fc-8bec-da21317d993c\";\n        app = \"InsureAssist\";\n } \n commented by Nitin K */\n \n //global.set(\"app\",app);\n //global.set(\"workspace_id\",workspace_id);\n \n// global.set(\"ask_name_next\", \"No\");\n// global.set(\"ask_user_name\", \" \");\n global.set(\"workspace_id\"+ user,workspace_id);\n global.set(\"app\"+ user,app);\n \n node.log(\"app name: \" + \"app\" + user + \" app value: \" + app);\n node.log(\"workspace name: \" + \"workspace_id\" + user + \" workspace_id value: \" +  workspace_id);\n//}\n\n//msg.app = global.get(\"app\");\n//var workspace_id = global.get(\"workspace_id\");\n\nmsg.app = global.get(\"app\"+ user);\nvar workspace_id = global.get(\"workspace_id\" + user);\n\nvar params = {\n//     context: context,\n     workspace_id : workspace_id,\n     username: '3461c175-52b5-4c38-b1be-e9f3d458a701',\n     password: 'UplCjXHkuLgj'\n}\nvar additional_context = {\n    fname: fname,\n    map : map,\n    button: button\n    \n};\n\nif (input.lastIndexOf('/') >= 0 ) {\n     var myindex = input.lastIndexOf('/')\n     node.log(\"index at: \" + myindex)\n     var dateString = input\n     node.log(\"dateString : \" + dateString)\n     \n     var d = new Date(dateString)\n     node.log(\"d : \" + d)\n     var now = new Date()\n     node.log(\"today: \" + now)\n     var years = now.getFullYear() - d.getFullYear()\n     node.log(\"years: \" + years)\n     \n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     node.log(\"days: \" + days)\n     var age = years + days /365\n    \n     additional_context.age = Math.round(age *100)/100\n     node.log(\"age: \"+ context.age)\n \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"12\")\n     now.setDate(\"31\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageEOY = years + days /365\n     additional_context.ageEOY = Math.round(ageEOY * 100)/100\n     node.log(\"ageEOY: \"+ context.ageEOY)\n     \n     var d = new Date(dateString)\n     var now = new Date()\n     now.setMonth(\"01\")\n     now.setDate(\"01\")\n     var years = now.getFullYear() - d.getFullYear()\n     d.setFullYear(d.getFullYear() + years)\n     var days = (now.getTime() - d.getTime()) / (3600 * 24 * 1000.00)\n     var ageBOY = years + days /365\n     additional_context.ageBOY = Math.round(ageBOY * 100)/100\n     node.log(\"ageBOY: \"+ context.ageBOY)\n}\n\n\n\nmsg.payload = input;\nmsg.params = params;\nmsg.user = user;\nmsg.additional_context = additional_context;\nreturn msg;","outputs":1,"noerr":0,"x":292.8254623413086,"y":216.22222232818604,"wires":[["587300b9.398778","7d48a5c8.3db03c","443eec66.e119ac","4005cb6f.2a930c"]]},{"id":"7fd1c1a6.158c28","type":"function","z":"e4e07b8e.d368a","name":"Response Msg","func":"msg.headers = {\n// QL: 'authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImFwcF81OTM5NmM5NGE4YzE0ZjY1MDAwZjJkMTEifQ.eyJzY29wZSI6ImFwcCJ9._Zt5vt6zg9lCHvC5xYYa0QorhyerPjkkzaQS4UyaLzk' \n// NK-Old   'authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImFwcF81ODk5MGZlYzFkZDg5ODJkMDBmYWQ1Y2UifQ.eyJzY29wZSI6ImFwcCJ9.u9yKGmzNxj4IKWPV4N36M1XwQU1MUk59bo2Q5yfhjKE'\n//   'authorization': 'Basic MDgyMzk3MWE5NGJkYmY5YWI3MmM1MjhlOm9MTGdER0ZzQ0c1SDBiYUR4c2RIeDV6cA=='\n    \n};\n\n/** Added by Nitin to extract name using Watson API **/\nvar outTexts = \" \";\nvar uppercase_text;\noutTexts = msg.payload.output.text[0];\nuppercase_text = outTexts.toUpperCase();\nvar m_call_alchylme = \"No\";\nglobal.set(\"m_node_path\",\"Reg\");\nmsg.additional_context.angerName = \"m_node_path - Reg\";\nmsg.additional_context.disgustName= uppercase_text;\nmsg.url = \"https://api.smooch.io/v1/appusers/\" + msg.user + \"/messages\";\nnode.error(\"Delay - Begin\");\n\nif (uppercase_text.lastIndexOf(\"YOUR NAME\") >= 0 ) {\n    global.set(\"ask_name_next\",\"YES\");\n    msg.additional_context.fearName = \"ask_name_next - YES\";\n}\n else {\n     var m_last_val = global.get(\"ask_name_next\");\n     msg.additional_context.fearName = \"m_last_val\" + m_last_val;\n     switch(m_last_val) {\n        case 'YES':\n           var get_name = msg.payload.input.text;\n           var m_call_alchylme = \"Yes\";\n           global.set(\"m_node_path\",\"Alc\");\n           //msg.additional_context = \"Alc\";\n           global.set(\"ask_name_next\", \"NO\");\n           msg.payload = \"my name is \" + get_name;\n             node.send(msg); \n           break;\n     }\n }\n\n\n/** Added upto Here ****/\n\n\n\n//if (m_call_alchylme.lastIndexOf(\"No\") >= 0) {\nif (m_call_alchylme == \"No\") { \nvar Watson_msg = JSON.stringify(msg.payload.output.text);\nvar Watson_context = JSON.stringify(msg.payload.context);\nvar Watson_contextOBJ = msg.payload.context;\n\nvar Myresponse = Watson_msg.substring(2,Watson_msg.length-2);\nnode.log(\"****context**** \" + Watson_context);\n\n// Dennis added because SSML tag was escaping the \" with \\\" and the replace command fixes it!!!!\nMyresponse = Myresponse.replace(/\\\\/g, \"\");\n//Dennis - Remove XML SSML tags from chat systems\nMyresponse = Myresponse.replace(/<[^>]+>/g, \"\");\n\nvar Newmsg = \"\";\nvar typeMsg = \" \";   /* Added by NAK */\nvar response = {};\nvar component = \"\";\nnode.log(\"*********** Output is ************\" + Myresponse);\n//Remove old maps\nif (Myresponse.lastIndexOf(\"InsMap\") >= 0 ) {\n     findindex = Myresponse.lastIndexOf(\"InsMap\");\n     Myresponse = Myresponse.substring(0,findindex);\n     node.log(\"Found a old maps at index:\", findindex);\n     node.log(Myresponse);\n}\n//Found an array of outputs\nvar texts = msg.payload.output.text\n//var texts = Myresponse.split(\"\\\",\\\"\");\nfor (i = 0; i < texts.length; i++) {\n     Newmsg = texts[i]; \n     node.log(\"**********  length ******* \" + texts.length);\n     node.log(\"start with \" + Newmsg);\nvar component = \"\";\nvar mapStr = \"\";\nvar actions = {};\nvar actionsArr = [];\nvar actionsRArr = [];\nvar buttonMTArr = [\"Here's your street view map\", \"Here's your satellite view map\"];\nvar m_url = \"\";\n//simple buttons\nif (Newmsg.lastIndexOf(\"[\") >= 0 ) {\n     component = \"button\";\n     findindex = Newmsg.lastIndexOf(\"[\");\n     node.log(\"Found a buttons at index:\", findindex);\n     findLastindex = Newmsg.lastIndexOf(\"]\");\n     tempStr = Newmsg;\n    \n     /* Added by NAK */\n     /** Check Type encoded between <> e.g. <button>,<link>,<image> */\n     /** Check Lable encoded between {} e.g. {lable1},{lable2} */\n     type_findindex = Newmsg.lastIndexOf(\"<\");\n     type_findLastindex = Newmsg.lastIndexOf(\">\");\n     lable_findindex = Newmsg.lastIndexOf(\"{\");\n     lable_findLastindex = Newmsg.lastIndexOf(\"}\");\n     /* Added by NAK Upto Here */\n     \n     Newmsg = Newmsg.substring(0,findindex); // Message without buttons\n     \n     var buttonArr = tempStr.substring(findindex+1, findLastindex).split(\",\");\n     /* Added by NAK - Look for optional lable */\n     if ((lable_findindex > 0) && (lable_findLastindex > 0) ){\n          var buttonLableArr  = tempStr.substring(lable_findindex+1, lable_findLastindex).split(\",\");\n    } else {\n        var buttonLableArr = buttonArr;\n     }\n     \n     if (tempStr.lastIndexOf(\"<button>\") >= 0 ) {\n         typeMsg = \"button\";\n     }\n     else {\n       if (tempStr.lastIndexOf(\"<link>\") >= 0 ) {\n          typeMsg = \"link\";\n       }\n       else \n         if (tempStr.lastIndexOf(\"<image>\") >= 0 ) {\n            typeMsg = \"image\";\n         }\n         else {\n          typeMsg = \"button\";\n      }\n     }\n      \n        \n    /* Added by NAK Upto Here */\n    switch(typeMsg) {\n    case 'button':\n        for (a = 0; a < buttonArr.length; a++) { \n           actionsArr.push({\"type\": \"reply\",\"text\": buttonLableArr[a],\"payload\": buttonArr[a]});\n        }\n        break;\n    case 'link': \n        component = \"buttonLink\";\n        actionsArr.push({\"type\": \"link\",\"text\": buttonLableArr[0],\"uri\": buttonArr[0]});  \n        break;\n    case 'image':\n        component = \"buttonImage\";\n        m_url = buttonArr[0];\n        actionsArr.push({\"_id\" : msg.user, \"type\": \"link\",\"text\": buttonLableArr[0],\"uri\": buttonArr[0]});  \n\n   }\n     actions = {\"actions\" : actionsArr};\n\n    // Added by Nitin K from Here\n /*   if (typeMsg == \"link\") {\n       component = \"buttonlink\";\n       actionsArr.push({\"type\": \"link\",\"text\": buttonLableArr[0],\"uri\": buttonArr[0]});  \n    }*/\n}\n\n/* Commented by NAK\nif (Newmsg.lastIndexOf(\"{\") >= 0 ) {\n     component = \"buttonlink\";\n     findindex = Newmsg.lastIndexOf(\"{\");\n     node.log(\"Found a buttons at index:\", findindex);\n     findLastindex = Newmsg.lastIndexOf(\"}\");\n     tempStr = Newmsg;\n     Newmsg = Newmsg.substring(0,findindex); // Message without buttons\n     var buttonArr = tempStr.substring(findindex+1, findLastindex).split(\"|\");\n    \n     for (a = 0; a < buttonArr.length; a++) { \n    //    actionsArr.push({\"type\": \"link\",\"text\": buttonArr[a],\"uri\": buttonArr[a]});\n        actionsArr.push({\"type\": \"link\",\"text\": \"Link\",\"uri\": buttonArr[a]});\n     \n         \n     }\n     actions = {\"actions\" : actionsArr};\n}\nCommented upto Here **/\n// Added by Nitin K upto Here\n\n//json map\nnode.log(\"context: \" + Watson_context);\n//var mapjsonStr = Watson_context.match(/\\\"map.*Yes\\\"/);\nmapjsonObj = Watson_contextOBJ.map;\nif (typeof mapjsonObj.values != \"undefined\") {\n//node.log(\"mapjson: \" + mapjsonStr);\n//if (mapjsonStr  !== null){\n    component = \"map\";\n    for (var c in mapjsonObj.values) {\n      mapStr = mapjsonObj.values[c] + \"&size=500x300\";\n      node.log(\"Found Json map str: \" + mapStr);\n      actionsArr.push({\"text\": buttonMTArr[c] +\" \",\"type\":\"link\",\"uri\": mapStr});\n //     actions = {\"actions\" : actionsArr };\n    }\n}\n\n//json button - Note for WCS - can't have a mixed array of Link and Reply. Smooch-limitation\n// Can implement postback buttons, but must handle postback api call. Stubbed at the moment.\n//var buttonjsonStr = Watson_context.match(/\\\"button.*Yes\\\"/);\nvar found_link = 0;\n//node.log(\"buttonjson: \" + buttonjsonStr);\nbuttonjsonObj = Watson_contextOBJ.button;\nif (typeof buttonjsonObj.values != \"undefined\") {\n  \n    for (var c in buttonjsonObj.values) {\n      buttonStr = buttonjsonObj.values[c];\n      node.log(\"NK-buttonStr :\", buttonStr);\n      if (buttonStr.lastIndexOf(\"|\") >= 0 ) {\n        found_link = 1;\n        buttonItems = buttonStr.split(\"|\");\n        button_title = buttonItems[0];\n        button_url = buttonItems[1];\n        \n        actionsArr.push({\"type\": \"link\",\"text\": button_title,\"uri\": button_url}); \n      }\n      else {\n        button_title = buttonStr;  \n        actionsRArr.push({\"type\": \"reply\",\"text\": button_title,\"payload\": button_title}); \n       //actionsArr.push({\"type\": \"postback\",\"text\": button_title,\"payload\": button_title}); \n      }\n    }  \n    if (found_link > 0) {\n       component = \"buttonLink\"; \n    }else {\n      component = \"buttonReply\";   \n    }\n}\n\n//old maps\nif (Newmsg.lastIndexOf(\"InsMap\") >= 0 ) {\n     findindex = Newmsg.lastIndexOf(\"InsMap\");\n     Newmsg = Newmsg.substring(0,findindex);\n     node.log(\"Found a maps at index:\", findindex);\n     node.log(Newmsg);\n} \n\n// Dennis added because SSML tag was escaping the \" with \\\" and the replace command fixes it!!!!\nNewmsg = Newmsg.replace(/\\\\/g, \"\");\n//Dennis - Remove XML SSML tags from chat systems\nNewmsg = Newmsg.replace(/<[^>]+>/g, \"\");\n\n//msg.url = \"https://api.smooch.io/sdk/apps/5aa5a6e072b44a0022f43c5c/appusers/\"+msg.save_payload.appUser._id+\"/messages\";// + msg.user + \"/messages\";\nmsg.url = \"https://api.smooch.io/sdk/apps/5aa5a6e072b44a0022f43c5c/appusers/0823971a94bdbf9ab72c528e/sendMessage\"\nmsg.url = msg.save_payload.fromUrl;\nnode.error(\"NK-Component :\", component + Newmsg);\nnode.error(msg);\nswitch(component) {\n    case 'buttonReply':\n     response = {\n        role : \"appMaker\",\n        type : \"text\",\n        text : Newmsg,\n        email: \"nitin421505-1@gmail.com\",\n        actions : actionsRArr\n        };\n        break;\n    case 'buttonLink':\n     response = {\n        role : \"appMaker\",\n        type : \"text\",  //\"text\",\n        //payload : actionsRArr,\n        text : Newmsg,\n        //email: \"nitin421505-3@gmail.com\",\n        actions : actionsArr\n        };\n        break;\n    case 'buttonImage':\n     response = {\n        _id  : msg.user,\n        role : \"appMaker\",\n        type : \"image\",   \n        text : Newmsg,\n        mediaUrl : m_url,\n        mediaType : \"image\",\n        actions : actionsArr\n        };\n        break;\n    case 'map':\n    response = {\n        role : \"appMaker\",\n        type : \"image\",\n        text : Newmsg,\n        email: \"nitin421505@gmail.com\",\n        mediaUrl: mapStr,\n        mediaType: \"image/jpeg\",\n        actions : actionsArr\n        };\n        break;\n    default:\n    response = {\n        role : \"appUser\",\n        type : \"text\",\n        text : msg.payload.output.text,\n        email: \"watson40985@gmail.com\",\n        actions : actionsArr\n        }\n}\n\n if (i != texts.length -1) {\n   response.actions = [];  \n }     \n node.error(\"****First Send: ******* \" + JSON.stringify(response));\n  msg.payload = response;\n  node.error(msg);\n  global.set(\"prev_msg\",msg.payload);\n  node.send(msg);\n  \n if (actionsRArr.length > 0 &&  component == \"buttonLink\"){\n  response = {\n        role : \"appMaker\",\n        type : \"text\",\n        text : \"\",\n        email: \"nitin421505@gmail.com\",\n        actions : actionsRArr\n      \n  };\n \n  if (i == texts.length -1) {\n    node.log(\"****Second Send: ******* \" + JSON.stringify(response));\n    msg.payload = response;\n    global.set(\"prev_msg\",msg.payload);\n    node.send(msg);  \n  }\n }\n}\n}\nreturn null;","outputs":"1","noerr":0,"x":1048.4920654296875,"y":325.1111145019531,"wires":[["9c988c84.de94","398934ee.3e373c"]]},{"id":"e001480a.82d69","type":"debug","z":"e4e07b8e.d368a","name":"Response msg payload smooch","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1373.71435546875,"y":263,"wires":[]},{"id":"4da90a2b.36f0c4","type":"http request","z":"e4e07b8e.d368a","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1854.7142333984375,"y":461,"wires":[[]]},{"id":"6e7483be.3b3764","type":"http request","z":"e4e07b8e.d368a","name":"","method":"POST","ret":"txt","url":"","tls":"","x":583.7143249511719,"y":680.0000257492065,"wires":[["a195a8af.4286b8"]]},{"id":"2f9b5c89.fff654","type":"function","z":"e4e07b8e.d368a","name":"Send post message","func":"\nmsg.headers = {\n    'authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImFwcF81ODc5YWQ3NWQ2Y2MwMjJkMDAzOWQ4MzkifQ.eyJzY29wZSI6ImFwcCJ9.B3vjbL3IP1nZwndfWF9jr8V9XzsGIiRfQ_Hoq5ya9p8'\n     };\n\nmsg.url = \"https://api.smooch.io/v1/appusers/\" + \"2e62e92fdee34a6ebd225c5a\" + \"/messages\";\n\nvar response = {\n    role : \"appMaker\",\n    type : \"text\",\n    text : \"hey what's up!!!\",\n    email: \"dennisnoto@gmail.com\",\n    actions : []\n};\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":348.7143096923828,"y":680.0000066757202,"wires":[["6e7483be.3b3764"]]},{"id":"a195a8af.4286b8","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"payload","x":786.7142944335938,"y":678.9999952316284,"wires":[]},{"id":"abedaf05.c2f15","type":"inject","z":"e4e07b8e.d368a","name":"","topic":"go","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110.71430969238281,"y":685.0000066757202,"wires":[["2f9b5c89.fff654"]]},{"id":"62700fe7.c059a","type":"http response","z":"e4e07b8e.d368a","name":"","x":284.7142791748047,"y":320.00000286102295,"wires":[]},{"id":"398934ee.3e373c","type":"debug","z":"e4e07b8e.d368a","name":"smooch out of response msg","active":true,"tosidebar":true,"console":false,"complete":"true","x":1340.7142333984375,"y":204,"wires":[]},{"id":"cbe5d7cf.55fcc8","type":"debug","z":"e4e07b8e.d368a","name":"smooch out of convo","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1044.1309814453125,"y":103.86109924316406,"wires":[]},{"id":"2a05b946.912ba6","type":"switch","z":"e4e07b8e.d368a","name":"","property":"app","propertyType":"msg","rules":[{"t":"eq","v":"FidelityAssist","vt":"str"},{"t":"eq","v":"RegionsAssist","vt":"str"},{"t":"eq","v":"RegionsUATAssist","vt":"str"},{"t":"eq","v":"MetLifeAssist","vt":"str"},{"t":"eq","v":"LibertyMutualAssist","vt":"str"},{"t":"eq","v":"QuickenLoanAssist","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":542.6587524414062,"y":300.31072998046875,"wires":[["43f57728.739708"],["e7e2d452.af39c"],["c617d96e.f19f1"],["b4dd3848.4717d8"],["33df9383.4214bc","c26b1025.b62148"],["962e7a1f.08a55"],["4005cb6f.2a930c"]]},{"id":"43f57728.739708","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"Fidelity Conv (Bank)","workspaceid":"ce325ff7-260a-4060-9e1f-74be37628ddd ","multiuser":true,"context":true,"x":789.7698364257812,"y":186.9496612548828,"wires":[["7fd1c1a6.158c28","cbe5d7cf.55fcc8"]]},{"id":"7e3fe0b3.10be78","type":"http in","z":"e4e07b8e.d368a","name":"Postbacks","url":"/smooch-postback","method":"post","swaggerDoc":"","x":108.71430969238281,"y":376.12502574920654,"wires":[["62700fe7.c059a","a82b4c53.05c46","cfa67260.64d47"]]},{"id":"a82b4c53.05c46","type":"function","z":"e4e07b8e.d368a","name":"actionPayload","func":"msg.headers = {\n    'app-token': '7788i215s5s6si7bp23uv33o9'\n     };\n\nmsg.user = msg.payload.appUser.userId;\nmsg.url = \"https://api.smooch.io/v1/appusers/\" + msg.user + \"/messages\";\nmsg.actionPayload = msg.payload.postbacks[0].action.payload;\n\nresponse = {\n        role : \"appUser\",\n        type : \"text\",\n        text : msg.actionPayload\n};\n\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":162.9834976196289,"y":468.9999990463257,"wires":[["81106fda.e4603"]]},{"id":"81106fda.e4603","type":"http request","z":"e4e07b8e.d368a","name":"","method":"POST","ret":"txt","url":"","tls":"","x":381.7527160644531,"y":470.4615783691406,"wires":[[]]},{"id":"c4a47ba1.f35c8","type":"function","z":"e4e07b8e.d368a","name":"Add Tone","func":"\nnode.log(\"*********Found Tone ********\" + msg.response.document_tone.tone_categories[0].tones[0].tone_id);\nnode.log(\"*********Found Tone **Score*****\" + msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3));\n\nmsg.additional_context.angerName = msg.response.document_tone.tone_categories[0].tones[0].tone_name;\nmsg.additional_context.angerScore = msg.response.document_tone.tone_categories[0].tones[0].score.toFixed(3);\nmsg.additional_context.disgustName = msg.response.document_tone.tone_categories[0].tones[1].tone_name;\nmsg.additional_context.disgustScore = msg.response.document_tone.tone_categories[0].tones[1].score.toFixed(3);\nmsg.additional_context.fearName = msg.response.document_tone.tone_categories[0].tones[2].tone_name;\nmsg.additional_context.fearScore = msg.response.document_tone.tone_categories[0].tones[2].score.toFixed(3);\nmsg.additional_context.joyName = msg.response.document_tone.tone_categories[0].tones[3].tone_name;\nmsg.additional_context.joyScore = msg.response.document_tone.tone_categories[0].tones[3].score.toFixed(3);\nmsg.additional_context.sadnessName = msg.response.document_tone.tone_categories[0].tones[4].tone_name;\nmsg.additional_context.sadnessScore = msg.response.document_tone.tone_categories[0].tones[4].score.toFixed(3);\n\nmsg.additional_context.analyticalName = msg.response.document_tone.tone_categories[1].tones[0].tone_name;\nmsg.additional_context.analyticalScore = msg.response.document_tone.tone_categories[1].tones[0].score.toFixed(3);\nmsg.additional_context.confidentName = msg.response.document_tone.tone_categories[1].tones[1].tone_name;\nmsg.additional_context.confidentScore = msg.response.document_tone.tone_categories[1].tones[1].score.toFixed(3);\nmsg.additional_context.tentativeName = msg.response.document_tone.tone_categories[1].tones[2].tone_name;\nmsg.additional_context.tentativeScore = msg.response.document_tone.tone_categories[1].tones[2].score.toFixed(3);\n\nmsg.additional_context.OpenName = msg.response.document_tone.tone_categories[2].tones[0].tone_name;\nmsg.additional_context.OpenScore = msg.response.document_tone.tone_categories[2].tones[0].score.toFixed(3);\nmsg.additional_context.conTitle = msg.response.document_tone.tone_categories[2].tones[1].tone_name;\nmsg.additional_context.conScore = msg.response.document_tone.tone_categories[2].tones[1].score.toFixed(3);\nmsg.additional_context.extName = msg.response.document_tone.tone_categories[2].tones[2].tone_name;\nmsg.additional_context.extScore = msg.response.document_tone.tone_categories[2].tones[2].score.toFixed(3);\nmsg.additional_context.agreeName = msg.response.document_tone.tone_categories[2].tones[3].tone_name;\nmsg.additional_context.agreeScore = msg.response.document_tone.tone_categories[2].tones[3].score.toFixed(3);\nmsg.additional_context.emoName = msg.response.document_tone.tone_categories[2].tones[4].tone_name;\nmsg.additional_context.emoScore = msg.response.document_tone.tone_categories[2].tones[4].score.toFixed(3);\n\nreturn msg;","outputs":1,"noerr":0,"x":512.0555572509766,"y":198.99999046325684,"wires":[[]]},{"id":"7d48a5c8.3db03c","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"true","x":564.125,"y":142.83335876464844,"wires":[]},{"id":"e7e2d452.af39c","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"Regions Conv","workspaceid":"","multiuser":true,"context":true,"x":762.25,"y":240.83334350585938,"wires":[["7fd1c1a6.158c28"]]},{"id":"443eec66.e119ac","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"fromUrl","x":490,"y":392,"wires":[]},{"id":"c617d96e.f19f1","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"Regions UAT Convo","workspaceid":"","multiuser":true,"context":true,"x":765.5,"y":283,"wires":[["7fd1c1a6.158c28"]]},{"id":"cfa67260.64d47","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"false","x":298,"y":396,"wires":[]},{"id":"b4dd3848.4717d8","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"Metlife Convo","workspaceid":"","multiuser":true,"context":true,"x":748.5,"y":322,"wires":[["7fd1c1a6.158c28"]]},{"id":"33df9383.4214bc","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"liberty mutual","workspaceid":"da27dd81-a049-405e-8af4-f0482697f051","multiuser":true,"context":true,"x":758.5,"y":360,"wires":[["7fd1c1a6.158c28","cbe5d7cf.55fcc8"]]},{"id":"c26b1025.b62148","type":"debug","z":"e4e07b8e.d368a","name":"smooch msg to convo","active":true,"console":"false","complete":"true","x":510.2142791748047,"y":578,"wires":[]},{"id":"962e7a1f.08a55","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"QuickenLoan","workspaceid":"2ef2d074-d956-4b02-abee-1ba5e4e9399e","multiuser":true,"context":true,"x":756,"y":403.5,"wires":[["7fd1c1a6.158c28"]]},{"id":"802b8fae.ded07","type":"function","z":"e4e07b8e.d368a","name":"Prepare Log to write","func":"//fill in log obj\n\nvar currentIntent = \" \";\nvar currentEntity = \" \";\nvar currentConfidence =\"\";\nvar currentInputText =\"\";\nvar currentOutputText =\"\";\nvar startTimeStamp =\"\";\nvar conversationID=\"\";\n\n\nif (msg.payload.context.conversation_id!==undefined){\n    conversationID=msg.payload.context.conversation_id\n}\nif ((msg.payload.intents!==undefined)&&(msg.payload.intents[0]!==undefined)){\n    if (msg.payload.intents[0].intent!==undefined){\n        currentIntent= msg.payload.intents[0].intent\n    }\n    if (msg.payload.intents[0].confidence!==undefined){\n        currentConfidence=msg.payload.intents[0].confidence\n    }\n}\n\nif ((msg.payload.entities!==undefined)&&(msg.payload.entities[0]!==undefined)){\n    if (msg.payload.entities[0].entity!==undefined){\n        currentEntity= msg.payload.entities[0].entity\n    }\n    if (msg.payload.entities[0].confidence!==undefined){\n        currentConfidence=msg.payload.entities[0].confidence\n    }\n}\nif (msg.payload.input.text!==undefined){\n    currentInputText=msg.payload.input.text\n}\nif (msg.payload.output.text!==undefined){\n    currentOutputText=msg.payload.output.text[0]\n}\n\n\nvar date1 = new Date();\n\nvar newLogData= {\n\t dateTimeStamp : date1,\n\t intent : currentIntent,\n\t entity : currentEntity,\n\t confidence : currentConfidence,\n\t inputText : currentInputText,\n     outputText : currentOutputText,\n     conversation_id: conversationID\n\n};\nmsg.payload.LogData = newLogData;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":895,"y":527.75,"wires":[["d6fce15c.e4339","677c2b16.f736fc"]]},{"id":"d6fce15c.e4339","type":"function","z":"e4e07b8e.d368a","name":"put log into payload","func":"msg.payload = msg.payload.LogData;\nreturn msg;","outputs":1,"noerr":0,"x":1154,"y":541.75,"wires":[["af541ac1.8443b8","dde1438c.c15428"]]},{"id":"8f6de1af.6238b8","type":"cloudant out","z":"e4e07b8e.d368a","name":"nk4logs","cloudant":"c398ccd4.e74858","database":"nk4_log_db","service":"_ext_","payonly":true,"operation":"insert","x":1243,"y":644.25,"wires":[]},{"id":"677c2b16.f736fc","type":"debug","z":"e4e07b8e.d368a","name":"log-message","active":true,"console":"false","complete":"payload","x":1075,"y":586.5,"wires":[]},{"id":"af541ac1.8443b8","type":"debug","z":"e4e07b8e.d368a","name":"log-payload","active":true,"console":"false","complete":"payload","x":1373,"y":531.5,"wires":[]},{"id":"dde1438c.c15428","type":"csv","z":"e4e07b8e.d368a","name":"NK1-test","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"_id,_rev,dateTimeStamp,intent,entity,confidence,inputText,outputText,conversation_id","x":1260,"y":740,"wires":[["8d94b543.8e4ed8"]]},{"id":"8d94b543.8e4ed8","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"false","x":1430,"y":738.5,"wires":[]},{"id":"72c307f5.3a9e5","type":"http in","z":"e4e07b8e.d368a","name":"","url":"/getchatdata","method":"get","swaggerDoc":"","x":220,"y":986.25,"wires":[["46713020.55a328"]]},{"id":"46713020.55a328","type":"http response","z":"e4e07b8e.d368a","name":"","x":654,"y":983.5,"wires":[]},{"id":"d686cb3b.617c18","type":"cloudant in","z":"e4e07b8e.d368a","name":"","cloudant":"c398ccd4.e74858","database":"nk4_log_db","service":"_ext_","search":"_idx_","design":"by_conversationID","index":"IND_conversationID","x":440,"y":985.25,"wires":[["dc9db143.1c55a8"]]},{"id":"dc9db143.1c55a8","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"true","x":638,"y":1053.5,"wires":[]},{"id":"ac028a82.652848","type":"inject","z":"e4e07b8e.d368a","name":"","topic":"02b79c84-2504-4e96-a48e-eeac02f5e368","payload":"8163b5e5-0b90-4270-9c2a-c660eae3c2e9","payloadType":"str","repeat":"","crontab":"","once":false,"x":206,"y":1042.25,"wires":[["d686cb3b.617c18"]]},{"id":"ae3a8f83.cb8e9","type":"natural-language-understanding","z":"e4e07b8e.d368a","name":"alchemy_test","categories":true,"concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":369,"y":1141.5,"wires":[["510c7bf4.8437e4"]]},{"id":"4178ed19.ad745c","type":"inject","z":"e4e07b8e.d368a","name":"","topic":"","payload":"Boss this is Nitin","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":1140.25,"wires":[["ae3a8f83.cb8e9","9305666e.4aaa68"]]},{"id":"510c7bf4.8437e4","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"true","x":694,"y":1140.5,"wires":[]},{"id":"dde28e9a.bb25a","type":"natural-language-understanding","z":"e4e07b8e.d368a","name":"extract concepts","categories":true,"concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":1607,"y":367.5,"wires":[["3bd66903.a81e5e","e1e264c2.b6d73"]]},{"id":"9305666e.4aaa68","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"true","x":330,"y":1197.5,"wires":[]},{"id":"82860414.f681c","type":"switch","z":"e4e07b8e.d368a","name":"ALC or Reg","property":"m_node_path","propertyType":"global","rules":[{"t":"eq","v":"Alc","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1198,"y":373.75,"wires":[["ba9fa398.967e08","cc259d6c.a48f18"],["ae02505b.5c402"]]},{"id":"ba9fa398.967e08","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"true","x":1346,"y":320.5,"wires":[]},{"id":"4007575c.17ee08","type":"debug","z":"e4e07b8e.d368a","name":"NK-SWTCH","active":true,"console":"false","complete":"true","x":1095,"y":172.5,"wires":[]},{"id":"3bd66903.a81e5e","type":"debug","z":"e4e07b8e.d368a","name":"post_WNLU_message","active":true,"console":"false","complete":"true","x":1774,"y":237.5,"wires":[]},{"id":"cc259d6c.a48f18","type":"function","z":"e4e07b8e.d368a","name":"Transform payload","func":"var m_name = msg.payload;\nmsg.payload = m_name;\nmsg.payload.topic = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1395,"y":367.75,"wires":[["dde28e9a.bb25a","1c6ce91.4aaef17"]]},{"id":"1c6ce91.4aaef17","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"true","x":1567,"y":296.5,"wires":[]},{"id":"ae02505b.5c402","type":"debug","z":"e4e07b8e.d368a","name":"NAKNAK","active":true,"console":"false","complete":"true","x":1258,"y":456.5,"wires":[]},{"id":"e1e264c2.b6d73","type":"function","z":"e4e07b8e.d368a","name":"push message","func":"//var m_entity_type = msg.features.entities.type[0];\n//var m_entity_name = msg.features.entities.text[0];\nvar acl_payload = global.get(\"prev_msg\");\nvar m_user_name = \" \";\nvar m_cnt = 0;\n/**\n\n\nif (\"text\" in msg.features.keywords[0]) {\n  m_user_name = msg.features.keywords[0].text;  \n         m_cnt = 1;\n          msg.additional_context.joyName =\"2nd compare\";\n}\nelse {\n     msg.additional_context.joyName =\"2nd-else compare\";\n}\n\n\nif (m_cnt === 0 ) {\nif (\"text\" in msg.features.entities[0]) {\n  m_user_name = msg.features.entities[0].text;  \n         m_cnt = 1;\n          msg.additional_context.joyName =\"3rd compare\";\n}\nelse {\n     msg.additional_context.joyName =\"3rd-else compare\";\n}\n}\nelse {\n     msg.additional_context.joyName =\"4th-else compare\";\n}\n**/\n\nif (typeof(msg.features.keywords) !== \"undefined\") { \n    node.error(\"I am here-1\");\nif (typeof(msg.features.keywords[0]) !== \"undefined\") { \n      node.error(\"I am here-2\");\n    msg.additional_context.joyName =\"1st compare\";\n    m_user_name = msg.features.keywords[0].text; \n   node.error(\"I am here-3\", msg.features.keywords[0].text);\n    m_cnt = 1;\n}\n}\n\nif (m_cnt === 0) {\n    if (typeof(msg.features.entities) !== \"undefined\") {\n            node.error(\"I am here-4\");\nif (typeof(msg.features.entities[0].text) !== \"undefined\") { \n                node.error(\"I am here-41\");\n         m_user_name = msg.features.entities[0].text; \n         m_cnt = 2;\n          msg.additional_context.joyName =\"4th compare\";\n                        node.error(\"I am here-42\", msg.features.entities[0].text);\n}\n}\n}\n\nif (m_cnt === 0) {\n    m_user_name = \"there\";\n}\n\nmsg.payload = acl_payload;\nmsg.payload.text = \"Hello \" + m_user_name + \"..!! What can I do for you today\";\n//node.send(msg);\nreturn msg;","outputs":1,"noerr":0,"x":1815,"y":371.75,"wires":[["fedd7f56.4ed4d8"]]},{"id":"fedd7f56.4ed4d8","type":"debug","z":"e4e07b8e.d368a","name":"","active":true,"console":"false","complete":"true","x":1820,"y":288.5,"wires":[]},{"id":"bc0a82f2.1d0428","type":"function","z":"e4e07b8e.d368a","name":"delay","func":"node.error(\"Delay - End\");\nreturn msg;","outputs":1,"noerr":0,"x":1668,"y":507,"wires":[[]]},{"id":"eedfd61b.ae33","type":"watson-conversation-v1","z":"e4e07b8e.d368a","name":"","workspaceid":"","multiuser":false,"context":true,"x":492,"y":746.5,"wires":[[]]},{"id":"9c988c84.de94","type":"http response","z":"e4e07b8e.d368a","name":"","statusCode":"","headers":{},"x":1070,"y":420,"wires":[]}]